<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SgkAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.2.615.40" newVersion="2021.2.615.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.23.4.0" newVersion="3.23.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.2.0" newVersion="0.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SgkAssistant.Properties.Settings>
      <setting name="discid" serializeAs="String">
        <value />
      </setting>
      <setting name="sgscEnc" serializeAs="String">
        <value />
      </setting>
      <setting name="lastUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="dbType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mschostL" serializeAs="String">
        <value>P8IU78ky6kb7vPyXRKvEgQ==</value>
      </setting>
      <setting name="mscuidL" serializeAs="String">
        <value>I3HC09eFH0jF8KkaDbhLXA==</value>
      </setting>
      <setting name="mscupL" serializeAs="String">
        <value>PEIRl27RhvVcfrru0f84xA==</value>
      </setting>
      <setting name="mscdbL" serializeAs="String">
        <value>35f5k7K+lgfPzp0pFOkmHA==</value>
      </setting>
      <setting name="mscprtL" serializeAs="String">
        <value>izrolWego1szTT3iQ0OpTA==</value>
      </setting>
      <setting name="solverKey" serializeAs="String">
        <value>K82964397288957</value>
      </setting>
      <setting name="mschostR" serializeAs="String">
        <value>+rjzHzKMjV9Wh07YyS3osQ==</value>
      </setting>
      <setting name="mscuidR" serializeAs="String">
        <value>aAXHjzruFVJ0G95xxMPwKw==</value>
      </setting>
      <setting name="mscupR" serializeAs="String">
        <value>hHPZSNcjVkRgcb5v7vrQqSHJD2YwuX3BJYoiUq3KiDA=</value>
      </setting>
      <setting name="mscdbR" serializeAs="String">
        <value>aAXHjzruFVJ0G95xxMPwKw==</value>
      </setting>
      <setting name="mscprtR" serializeAs="String">
        <value>borXcW0ZPl8UN3BHvmvToQ==</value>
      </setting>
      <setting name="cmpCheck" serializeAs="String">
        <value>Gv*6BF37hgPB586esD?hv?_MF&amp;ra@Ps6zzvpCefwxWGQr$DS-bQLZdQpW$8zvxGN</value>
      </setting>
      <setting name="browser" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="disposeDriver" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="passPhrase" serializeAs="String">
        <value>9Pp_A2GN5^fcTQ?*$8^tUGxyPra3WUa7</value>
      </setting>
      <setting name="cmmColor" serializeAs="String">
        <value>PaleTurquoise</value>
      </setting>
      <setting name="cmColor" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="pdColor" serializeAs="String">
        <value>PaleVioletRed</value>
      </setting>
      <setting name="tblPD" serializeAs="String">
        <value>/html/body/div/table/tbody/tr[4]/td[2]/table[2]/tbody/tr[3]/td/table/tbody/tr[2]/td[2]/table</value>
      </setting>
      <setting name="tblET" serializeAs="String">
        <value>/html/body/div/table[1]/tbody/tr[4]/td[2]/table[2]/tbody/tr/td/table/tbody/tr[2]/td[2]/table</value>
      </setting>
      <setting name="tblME" serializeAs="String">
        <value>/html/body/div/table[1]/tbody/tr[4]/td[2]/table[3]/tbody/tr[2]/td[2]/table</value>
      </setting>
      <setting name="autoCaptcha" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hideBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rgvFontName" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="rgvFontSize" serializeAs="String">
        <value>8.25</value>
      </setting>
      <setting name="rgvTitleFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="rgvTitleFontStyle" serializeAs="String">
        <value>Bold</value>
      </setting>
      <setting name="rgvTitleFontColor" serializeAs="String">
        <value>DarkBlue</value>
      </setting>
      <setting name="tblICR" serializeAs="String">
        <value>/html/body/div/table/tbody/tr[4]/td[2]/table[2]/tbody/tr/td/table/tbody/tr[2]/td[2]/table/tbody/tr/td/table</value>
      </setting>
      <setting name="tbl6661" serializeAs="String">
        <value>//*[@id='contentContainer']/div/table/tbody/tr[2]/td/table/tbody/tr[2]/td[2]/div/table[2]</value>
      </setting>
      <setting name="rgvTitleFontName" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="cid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cid2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scd1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scd2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scd3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scd4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scd5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sira" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wait" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="tblIGL" serializeAs="String">
        <value>its</value>
      </setting>
      <setting name="tblHl" serializeAs="String">
        <value>gradienttable</value>
      </setting>
      <setting name="cGunColor" serializeAs="String">
        <value>255, 192, 192</value>
      </setting>
      <setting name="gGunColor" serializeAs="String">
        <value>192, 255, 192</value>
      </setting>
      <setting name="hlPdfBasePath" serializeAs="String">
        <value>SgkAsistan\PdfTmp</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>Desert</value>
      </setting>
      <setting name="solverType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="rgvFontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="rgvFontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="closeAllBrowsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="solverKeyIT" serializeAs="String">
        <value />
      </setting>
      <setting name="hlCalisanColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="iglGirisColor" serializeAs="String">
        <value>192, 255, 192</value>
      </setting>
      <setting name="iglCikisColor" serializeAs="String">
        <value>255, 192, 192</value>
      </setting>
      <setting name="updateFrequency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lastUpdateCheckDate" serializeAs="String">
        <value />
      </setting>
      <setting name="leavePeriodOddColor" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="leavePeriodEvenColor" serializeAs="String">
        <value>PeachPuff</value>
      </setting>
      <setting name="lastLoginDate" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstTimeRunningThisVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="leavePersonalOddColor" serializeAs="String">
        <value>LavenderBlush</value>
      </setting>
      <setting name="leavePersonalEvenColor" serializeAs="String">
        <value>PowderBlue</value>
      </setting>
    </SgkAssistant.Properties.Settings>
  </userSettings>
</configuration>